<body>
  <div class="flex-div">
    <img src="assets/img/loop2.png">

    <mat-card>
      <mat-tab-group mat-stretch-tabs>

        <mat-tab label="Login">
          <div class="form-div">
            <mat-form-field>
              <input matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password">
            </mat-form-field>
          </div>
          <mat-card-actions>
            <button mat-button>Login</button>
          </mat-card-actions>
        </mat-tab>

        <mat-tab label="Create Account">
            <div class="form-div">
              <mat-form-field>
                <input matInput placeholder="Username">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Email" type="email">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" type="password">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Reenter Password" type="password">
              </mat-form-field>
            </div>
          <mat-card-actions>
            <button mat-button>Create Account</button>
          </mat-card-actions>
        </mat-tab>

      </mat-tab-group>
    </mat-card>
  </div>
</body>

<!--
<div *ngIf="auth.user | async; then authenticated else guest"
  <!-- this will be replaced I think
</div>


<ng-template #guest>
  <h3>You are not logged in</h3>
  <button mat-button ngClick="testerButton()">LogIn!</button>
</ng-template>

<ng-template #authenticated>

</ng-template>
-->

<div>Welcome, this works! {{good}}</div>
<button mat-button (click)="testerButton()">Create Account</button>
<button mat-button (click)="testerButton2()">Log In</button>
<div>{{good}}</div>
<div>{{sood}}</div>