img {
    padding-top: 125px;
    width: 40%;
}

mat-card {
    max-width: 960px !important;
}

mat-card-actions{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

// Positioning/layout for the Login/Create Account card
.card-padding {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

// Sets up flex layout for the page
.flex-div {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

// Styles all input fields
.form-div {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 14px;
    padding-top: 15px;
}

// Positioning/Layout for the logo
.img-padding {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    text-align: center;
}

// Styles text under the logo
.mission-statement{
    text-align: center;
    padding-bottom: 50px;
    h2{
        font-weight: 700;
    }
    h4{
        padding-top:5px;
    }
}

// Mobile-specific styling
@media only screen and (max-width: 599px){
    .flex-div {
        margin: 0 10px;
    }
    img {
        width: 80%;
        padding-top:10vh;
    }
}
