<div class="flex-div">
  <div class="img-padding">
    <img src="assets/img/loop1.svg">
  </div>

  <div class="mission-statement">
    <h2>Your all-in-one recruitment tool</h2>
    <h4>Track your candidates through your own custom process</h4>
  </div>

  <div class="card-padding">
    <mat-card>
      <mat-tab-group mat-stretch-tabs (selectedTabChange)="clearError()">

        <mat-tab label="Login" (click)="clearError()">
          <div class="form-div">
            <mat-form-field>
              <input required matInput type='text' placeholder="Email" #email>
            </mat-form-field>
            <mat-form-field>
              <input required matInput placeholder="Password" type="password" #password>
            </mat-form-field>
          </div>
          <mat-card-actions>
            <button mat-button (click)="login(email.value,password.value)">Login</button>
          </mat-card-actions>
        </mat-tab>

        <mat-tab label="Create Account" (click)="clearError()">
          <div class="form-div">
            <mat-form-field>
              <input required matInput placeholder="Username" #cUsername>
            </mat-form-field>
            <mat-form-field>
              <input required matInput placeholder="Email" type="email" #cEmail>
            </mat-form-field>
            <mat-form-field>
              <input required matInput placeholder="Password" type="password" #cPassword>
            </mat-form-field>
            <mat-form-field>
              <input required matInput placeholder="Reenter Password" type="password" #cPassword2>
            </mat-form-field>
          </div>
          <mat-card-actions>
            <button mat-button (click)="verifyUsername(cEmail.value,cUsername.value,
            cPassword.value, cPassword2.value)">Create
              Account</button>
          </mat-card-actions>
        </mat-tab>

      </mat-tab-group>
    </mat-card>
  </div>
  <div>{{userError}}</div>
</div>