<body>
  <div class="flex-div">
    <img src="assets/img/loop2.png">

    <mat-card>
      <mat-tab-group mat-stretch-tabs>

        <mat-tab label="Login">
          <div class="form-div">
            <mat-form-field>
              <input matInput type='text' placeholder="Email" #email>
            </mat-form-field>
            <mat-form-field>
              <input matInput type='text' placeholder="Password" #password>
            </mat-form-field>
          </div>
          <mat-card-actions>
            <button mat-button (click)="login(email.value,password.value)">Login</button>
          </mat-card-actions>
        </mat-tab>

        <mat-tab label="Create Account">
            <div class="form-div">
              <mat-form-field>
                <input matInput placeholder="Username" #username>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Email" #cEmail>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" #cPassword>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Reenter Password" #cPassword2>
              </mat-form-field>
            </div>
          <mat-card-actions>
            <button mat-button (click)="createAccount()" >Create Account</button>
          </mat-card-actions>
        </mat-tab>

      </mat-tab-group>
    </mat-card>
  </div>
</body>

<div>{{usernameError}}</div>


<div>Welcome, this works! {{good}}</div>
<button mat-button (click)="testerButton()">Create Account</button>
<button mat-button (click)="testerButton2()">Log In</button>
<div>{{good}}</div>
<div>{{sood}}</div>
