<mat-toolbar>
  <!-- FIXME: Can we get a logo that's just the LOOP text? -->
  <img height="60%" alt="Loop Logo" src="assets/img/loop1.png">
  <div>
    <button mat-button class="nav-button"><i class="material-icons">person</i></button>
    <button mat-button class="nav-button"><i class="material-icons">menu</i></button>
  </div>
</mat-toolbar>

<h1>Job Position</h1>

<mat-accordion>
  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        James Franklin
      </mat-panel-title>
      <mat-panel-description>
        Stage 1/5
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="flex-lists">
      <div class="contact">
        <p>
          Contact Info
        </p>
        <ul>
          <li><i class="material-icons">home</i>Address</li>
          <li><i class="material-icons">phone</i>Phone number</li>
          <li><i class="material-icons">alternate_email</i>Email address</li>
          <li><i class="material-icons">share</i>Social Media</li>
        </ul>
      </div>
      <div class="docs">
        <p>
          Documents
        </p>
        <ul>
            <li><i class="material-icons">insert_drive_file</i>Resume</li>
            <li><i class="material-icons">email</i>Cover Letter</li>
            <li><i class="material-icons">mode_comment</i>Interview Notes</li>
            <li><i class="material-icons">group</i>References</li>
            <li><i class="material-icons">public</i>Website</li>
            <li><i class="material-icons">attach_file</i><a href="#">Upload new...</a></li>
          </ul>
      </div>
    </div>


    <mat-action-row>
      <button mat-button>Accept</button>
      <button mat-button>Email</button>
      <button mat-button>Reject</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>