<mat-toolbar>
  <img height="60%" alt="Loop Logo" src="assets/img/loop1.png">
  <div>
    <button mat-button class="nav-button" [matMenuTriggerFor]="account"><i class="material-icons">person</i></button>
    <mat-menu #account="matMenu">
      <button mat-menu-item>Logout</button>
    </mat-menu>
    <button mat-button class="nav-button" [matMenuTriggerFor]="menu"><i class="material-icons">menu</i></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Position 1</button>
      <button mat-menu-item>Position 2</button>
      <button mat-menu-item>Position 3</button>
      <button mat-menu-item>Position 4</button>
    </mat-menu>
  </div>
</mat-toolbar>

<div class="test">
  <h1>Job Position</h1>

  <mat-accordion>
    <mat-expansion-panel>
  
      <mat-expansion-panel-header>
        <mat-panel-title>
          James Franklin
        </mat-panel-title>
        <mat-panel-description>
          Stage 1/5
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <div class="flex-lists">
        <div class="contact">
          <p>
            Contact Info
          </p>
          <ul>
            <li><i class="material-icons">home</i><span>Address</span></li>
            <li><i class="material-icons">phone</i><span>Phone number</span></li>
            <li><i class="material-icons">alternate_email</i><span>Email address</span></li>
            <li><i class="material-icons">share</i><span>Social Media</span></li>
          </ul>
        </div>
        <div class="docs">
          <p>
            Documents
          </p>
          <ul>
              <li><i class="material-icons">insert_drive_file</i><span>Resume</span></li>
              <li><i class="material-icons">email</i><span>Cover Letter</span></li>
              <li><i class="material-icons">mode_comment</i><span>Interview Notes</span></li>
              <li><i class="material-icons">group</i><span>References</span></li>
              <li><i class="material-icons">public</i><span>Website</span></li>
              <li><button mat-raised-button (click)="openUploadDialog()">+ Upload New</button></li>

            </ul>
        </div>
      </div>
  
  
      <mat-action-row>
        <button mat-button (click)="openAcceptDialog()">Advance</button>
        <button mat-button>Email</button>
        <button mat-button (click)="openRejectDialog()">Reject</button>
      </mat-action-row>
  
    </mat-expansion-panel>
  </mat-accordion>
</div>