<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Loop Logo" src="assets/img/loop2.png">
</div>
<h2>There isn't much yet. But the LOOP team is hard at work! :D </h2>
<ul>
  <li>
    <h2><a target="_blank" >Project Leader: Scott Luttmann</a></h2>
  </li>
  <li>
    <h2><a target="_blank">Front-end Developer: Katt Shatinsky</a></h2>
  </li>
  <li>
    <h2><a target="_blank">Jack of some trades: Joey Queppet</a></h2>
  </li>
</ul>
