<h1 mat-dialog-title>Create New Candidate</h1>
<div mat-dialog-content>
  <div class="form-div">
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone Number">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email Address">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelNewCandidate()">Cancel</button>
  <button mat-button (click)="cancelNewCandidate()">Save</button>
</div>