@import url(pink-bluegrey.css);

body{
    font-family: 'Open Sans', sans-serif;
}
a{
    color: #FF8F91;
}

// .mat-app-background {
//     background-image: url('assets/img/login-min.jpg') !important;
//     background-size: cover;
//     @media only screen and (max-device-width: 952px) {
//         background-size: auto;
//         background-position: center center;
//     }
// }

body, .mat-app-background{
    margin: 0;
}

.container {
    padding-left: 0;
}

.btn-primary{
    background-color: unset;
    font: #ff8f91;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-color: #FF8F91;
}

.btn-info{
    background-color: unset;
    border-color: unset;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.btn-success{
    background-color: #FF8F91;
    border-color: #FF8F91;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.btn-success:hover{
    background-color: #FFC7C8 !important;
    border-color: #FFC7C8 !important; 
}

.btn-success:focus{
    background-color: #FFC7C8 !important;
    border-color: #FFC7C8 !important;
}

.btn-success:active{
    background-color: #FFC7C8 !important;
    border-color: #FFC7C8 !important;
}